# Ignore node_modules
node_modules

# Ignore build output
dist

# Ignore temporary files
npm-debug.log
yarn-error.log
*.log

# Ignore environment variables (if any)
.env
.env.*

# Ignore IDE-specific files
.vscode
.idea
*.iml

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore other unnecessary files
*.test.jsx
coverage
