.document-side-panel {
    position: fixed;
    top: 20px;
    right: -420px; 
    width: 400px;
    height: calc(100% - 40px); 
    z-index: 1000;
    transition: right 0.3s ease-in-out; 
    padding: 0; 
    margin-top: 5rem;
    margin-bottom: 10rem;
    max-height: 80vh;
    border-radius: 4px;
    overflow-y: auto; /* Scrollable content */
  }
 
  .document-side-panel.active {
    right: 20px; 
  }
  
  .document-card-panel {
    background-color: #ffffff; 
    border: 1px solid #e7ebda; 
    border-radius: 8px; 
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15); 
    margin: 0; 
    padding: 1rem;
    transition: none; 
  }
  

  .text-brick {
    color: #2f354b; 
    font-weight: bold;
  }

  .close-icon {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 1.5rem;
    cursor: pointer;
    color: #51576d; 
  }

  .document-card-title-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .close-icon:hover {
    color: #2f354b; 
  }
  
  
  .card-text strong {
    color: #2f354b; 
    align-items: justify;
  }
  
  .card-text p {
    color: #51576d; 
  }
  
  
  @media (max-width: 768px) {
    .document-side-panel {
      width: 100%;
      height: calc(100% - 20px);
    }
  }
  