html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.scrollable-list-documents{
  height: calc(100vh - 100px - 40px);
  overflow-y: auto; 
  padding: 1rem;
  margin-top: 15px;
}

.container-fluid {
  padding: 0;
}

.document-card {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.document-card-linked {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  background-color: #f8f9fa;
}

.document-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.table-container {
  padding-top: 20px;
}

.table-container .table {
  margin-top: 70px;
  margin-bottom: 70px;
}

.table-container .table tbody tr {
  height: 60px;
}

.brick-button {
  background-color: #2f354b !important;
  border-color: #2f354b !important;
  color: white !important;
}
.divider {
  border-bottom: 2px solid #e7ebda; 
  margin: 0; 
}
.brick-button:hover {
  background-color: #51576d !important;
  border-color: #51576d !important;
}

.document-modal {
  width: 70%;
  border-radius: 8px;
}

.modal-header {
  background-color: #f8f9fa; 
  border-bottom: none; 
}

.modal-title {
  font-weight: 600; 
  color: #333; 
}

.modal-body {
  display: flex; 
  padding: 1.5rem;
  max-height: 65vh; /* Adjust as needed */
  overflow-y: auto;
}

.document-info {
  display: flex;
  flex: 1; 
}

.info-section {
  flex: 1; 
  margin-right: 1rem; 
}

.description-area {
  flex: 1; 
}

.description-area label {
  font-weight: 500; 
  color: #555; 
  width: 40%; 
}

.info-item {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.info-item label {
  font-weight: 500; 
  color: #555; 
  width: 40%; 
}

.info-item span {
  flex: 1; 
  text-align: right; 
}

.divider {
  border-bottom: 1px solid #e7ebda; 
  margin: 0.5rem 0; 
}

.divider-vertical {
  width: 1px; 
  background-color: #e7ebda; 
  margin: 0 1rem; 
}

.description-textarea {
  width: 100%; 
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 0.5rem; 
  resize: none; 
}

.description-textarea label {
  font-weight: 500; /* Medium weight for labels */
  color: #555; /* Subtle gray for labels */
  width: 40%; /* Fixed width for labels */
}

.modal-footer {
  border-top: none; 
  justify-content: space-between; 
}

button {
  transition: background-color 0.2s ease; 
}

button:hover {
  background-color: #0056b3; 
}
.mb-5 {
  margin-bottom: 3rem !important;
}

.document-card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.75rem;
}

.document-card-text {
  font-size: 0.9rem;
  color: black;
  margin-bottom: 0.5rem; 
}

.splash-background {
  background-image: url('./public/KX_BckG.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 90vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash-title {
  color: white;
  font-size: 8rem;
  text-align: center;
}


.bg-linked-document {
  background-color: black;
  color: #333;
}

.slider {
  position: fixed;
  right: -320px;
  top: 20px;
  width: 300px;
  height: calc(100% - 40px);
  background: white;
  box-shadow: -2px 0 5px rgba(0,0,0,0.5);
  transition: right 0.3s ease, opacity 0.3s ease;
  border-radius: 8px;
  padding: 20px;
  opacity: 0;
}

.slider.open {
  right: 20px;
  opacity: 1;
}

.slider .snippet-item {
  padding: 5px; /* Reduce padding for snippet items in slider view */
}

.slider-card {
  padding: 0.5rem;
  font-size: 0.8rem;
}

.slider-card .document-card-title {
  font-size: 1rem;
}

.slider-card .document-card-text {
  font-size: 0.8rem;
}

.close-button {
  position: absolute;
  bottom: 10px;
  left: 85%;
  transform: translateX(-50%);
}

.snippet-item {
  border-bottom: 1px solid #e7ebda;
}

.snippet-title {
  font-weight: bold;
  font-size: 1.1rem;
}

.snippet-type,
.snippet-scale,
.snippet-issuance-date {
  font-size: 0.9rem;
  color: #555;
}

.snippet-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: calc(100% - 40px); /* Adjust based on header and padding */
  overflow-y: auto;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
  padding-top: 20px; /* Add this line to add padding to the top */
}

.snippet-list::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}